.root {
    position: relative;
    width: 390px;
    height: 844px;
    align-items: flex-start;
    background-color: #fff;
    overflow: hidden;
  }
  .unnamed {
    color: #000;
    font-size: 40px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    left: 53px;
    top: 80px;
    width: 284px;
    height: 80px;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }
  .NFT {
    position: absolute;
    left: 25px;
    top: 344px;
    width: 357px;
    height: 46px;
    flex-direction: column;
  }
  .textBlock {
    color: #000;
    font-size: 20px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
  }
  .textBlock2 {
    margin-top: 0;
    color: #000;
    font-size: 20px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
  }
  .wwwDanmaoXyzReferenceWoshixxxF {
    position: absolute;
    left: 25px;
    top: 431px;
    width: 312px;
    height: 50px;
    flex-direction: column;
  }
  .textBlock3 {
    color: #000;
    font-size: 20px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
  }
  .textBlock4 {
    margin-top: 0;
    color: #000;
    font-size: 20px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
  }
  .textBlock5 {
    margin-top: 0;
    color: #000;
    font-size: 20px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
  }