.root {
    position: absolute;
    left: calc(50% - 441.5px);
    top: calc(50% - -290.5px);
    width: 323px;
    height: 73px;
    align-items: flex-start;
    transform: translate(-50%, -50%);
  }
  .rectangle1 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 20px;
    background-color: #d9d9d9;
  }
  .unnamed {
    color: #000;
    font-size: 20px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    left: 16.4087%;
    right: 16.4087%;
    top: 34.2466%;
    bottom: 32.8767%;
    height: min-content;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }
  