.component1.component1 {
    left: 1026px;
    top: 9px;
    width: 223px;
    height: 89px;
    transform: initial;
  }
  .rectangle1.rectangle1 {
    background-color: #c52929;
  }
  .unnamed {
    color: #000;
    font-size: 20px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    left: 16.4087%;
    right: 16.4087%;
    top: 34.2466%;
    bottom: 11.8208%;
    height: min-content;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }
  .component3.component3 {
    left: 540px;
    top: 344px;
    width: 188px;
    height: 69px;
    transform: initial;
  }
  .unnamed2 {
    color: #000;
    font-size: 20px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    left: 16.4087%;
    right: 16.4087%;
    top: 34.2466%;
    bottom: 30.9708%;
    height: min-content;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }
  .component2.component2 {
    left: 536px;
    top: 661px;
    width: 188px;
    height: 69px;
    transform: initial;
  }
  .unnamed3 {
    color: #000;
    font-size: 20px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    left: 16.4087%;
    right: 16.4087%;
    top: 34.2466%;
    bottom: 30.9708%;
    height: min-content;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }
  .root {
    position: relative;
    width: 1280px;
    height: 832px;
    align-items: flex-start;
    background-color: #fff;
    overflow: hidden;
  }
  .rectangle4 {
    position: absolute;
    left: 0;
    top: 0;
    width: 1280px;
    height: 107px;
    background-color: #d9d9d9;
  }
  .unnamed4 {
    color: #000;
    font-size: 40px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    left: 17px;
    top: 30px;
    width: 298px;
    height: min-content;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }
  .rectangle2 {
    position: absolute;
    left: 503px;
    top: 232px;
    width: 273px;
    height: 53px;
    background-color: #d9d9d9;
  }
  .unnamed5 {
    color: #000;
    font-size: 20px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    left: 503px;
    top: 208px;
    width: 253px;
    height: 24px;
    flex-direction: column;
  }
  .rectangle3 {
    position: absolute;
    left: 503px;
    top: 549px;
    width: 273px;
    height: 53px;
    background-color: #d9d9d9;
  }
  .unnamed6 {
    position: absolute;
    left: 503px;
    top: 525px;
    width: 253px;
    height: 24px;
    flex-direction: column;
  }
  .textBlock {
    color: #000;
    font-size: 20px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
  }
  .textBlock2 {
    margin-top: 0;
    color: #000;
    font-size: 20px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
  }
  .unnamed7 {
    color: #000;
    font-size: 20px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    left: 520px;
    top: 455px;
    width: 233px;
    height: 36px;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }